<div class="row">
    <div class="col-xl-3 col-lg-3"></div>
    <div class="col-xl-6 col-lg-6">

        <div class="row" class="top-spacing"></div>

        <div class="row" class="question-bckgrnd-clr">
            <h1>Have Any Questions?</h1>
        </div>

        <div class="row" class="input-bckgrnd-clr ">
          
          <form [formGroup]='contactForm' name="contact" id='contact-form' method="post" (ngSubmit)="onSubmit()">
            <input type="hidden" name="form-name" value="contact" />
            <p style='display: none;'>
              <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>
            <p class='form-row'>
              <label>Your Name: </label>
              <br>
              <input type='text' name="name" formControlName="name" required/>
            </p>
            <p class='form-row'>
              <label>Email Address: </label>
              <br>
              <!-- <input type='email' name="email" formControlName="email" required/> -->
              <input type='text' name="email" formControlName="email" required/>
            </p>
            <p class='form-row'>
              <label>Your Message: </label>
              <br>
              <textarea class="message" name="message" formControlName="message" required></textarea>
            </p>
            <p type='submit' >
              <button class="button" id='submit-button' type='submit'>Contact Me!</button>
            </p>
          </form>
          
        </div>
        
    </div>
    <div class="col-xl-3 col-lg-3"></div>
</div>

